div {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 10px;
}


.container {
  display: grid;
  margin-left: 0px;
  grid-template-columns: 2fr 1fr;/*repeat(auto-fit, minmax(240px, 1fr)); 70% 25%; */
  grid-template-rows: 65vh 25vh;/*minmax(310px, 2fr) minmax(310px, 1fr);/* repeat(2, minmax(310px, 1fr)); /* 450px 450px; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.uno {
  margin-top: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 1;

}

.dos {
  margin-top: 10px;
  grid-column: 2 / 2;
  grid-row: 1 / span 2;

}

.tres {
  margin-top: 10px;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  max-height: 450px;

}

